<div class="app-password-form">
  <h2>TEST TASK FOR USENSE</h2>
  <h3>Surma Vladyslav</h3>
  <input [type]="passwordType?'text':'password'" placeholder="Enter ur password" [(ngModel)]="password" (input)="onPasswordChange()"/>
  <span class="show-hide" (click)="viewPassword()"><img [src]="visible ? '../../assets/eye-on.svg' : '../../assets/eye-off.svg'" alt="eye">
  </span>
  <div class="section" [ngClass]="{'gray': password.length === 0, 'red': (password.length < 8 && password.length > 0) || complexity === 1, 'yellow': complexity === 2 && password.length >= 8, 'green': complexity === 3}">
    <h3>Simple</h3>
  </div>
  <div class="section" [ngClass]="{'gray': password.length === 0 || complexity < 2 ,'red': password.length < 8 && password.length > 0, 'yellow': complexity === 2 && password.length >= 8, 'green': complexity === 3}">
    <h3>Medium</h3>
  </div>
  <div class="section" [ngClass]="{'gray': password.length === 0 || complexity <3 ,'red': password.length < 8 && password.length > 0, 'green': complexity === 3}">
    <h3>Strong</h3>
  </div>
  <button class="button">Test Task</button>



  

